<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cse523.npatel.learningorm">

    <application
        android:name=".ORMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="game_score.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="6" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="edu.cse523.npatel.learningorm"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagePlayerActivity" />
        <activity android:name=".ManageGameActivity" />
        <activity android:name=".ManageRunsActivity"></activity>
    </application>

</manifest>